extends layouted

block content
  h2 Hello,
  p I’m Adrian Heine, and I’m a software developer living in Berlin. I'm available for both freelance work and permanent positions.
  p I've been a professional software developer for 15 years now, with most of my experience working on high-profile open-source web software using !{linkTo(['Skills', 'JavaScript'])}, !{linkTo(['Skills', 'PHP'])} and !{linkTo(['Skills', 'TypeScript'])}. I'm also an active member of the !{linkTo(['Skills', 'Rust'])} community since before Rust 1.0, and I use !{linkTo(['Skills', 'C'])} and !{linkTo(['Skills', 'Python'])} regularly.
  p When working on my own, I tend to focus on questions of accessibility, localization, portability, resource consumption and general stability. In legacy code, I approach those questions by improving deployment and testing procedures, through careful refactoring and modernization, and with users not just in mind but their bug report open and a reproduction added to the end-to-end test collection.
  p I love to join a software team and bring in these perspectives and align them with the needs of the whole team and product. However, even when working on my own, I benefit from my usually robust and understandable code, and development processes that produce reliable results.
  p Happy to hear from you!
  p.closing Adrian Heine
