extends layouted

block content
  h2 Hello,
  p I’m Adrian Lang, and I’m a freelance software developer living in Berlin. In the last years, I focused on web development using !{linkTo(['Skills', 'PHP'])} and !{linkTo(['Skills', 'JavaScript'])}.
  p My style is inspired by functional programming. I like my code to be clean and non-repetitive. When doing JavaScript stuff, I tend to use !{linkTo(['Skills', 'jQuery'])} (for client-side code) and !{linkTo(['Skills', 'Underscore.js'])} (client- and server-side). A typical !{linkTo(['Skills', 'Node.js'])} web application I write is based on !{linkTo(['Skills', 'Express'])} and !{linkTo(['Skills', 'Jade'])}.
  p I love free software. I use and promote !{linkTo(['Skills', 'Debian'])}. My servers are self-administered, and I handle everything from !{linkTo(['Skills', 'Apache'])} or !{linkTo(['Skills', 'nginx'])} to !{linkTo(['Skills', 'Postfix'])} and !{linkTo(['Skills', 'Dovecot'])}. I believe in open standards and protocols and hope for a federated future. Free knowledge is just as important to me: I contributed to the German !{linkTo(['Skills', 'Wikipedia'])} as an admin and author of honored articles.
  p In the last two years, my full-time job was heavily centered around !{linkTo(['Skills', 'DokuWiki'])}; I became a core contributor and developed several plugins. Before that, in 2009, I wrote the library !{linkTo(['Examples', 'libomb'])} for the free and federated microblogging platform !{linkTo(['Skills', 'StatusNet'])}.
  p If you have a great project and find yourself in need for a PHP or JavaScript developer – please !{linkTo(['Contact', ''], 'get in touch')}! Currently, I’d prefer to have exciting JavaScript tasks around Backbone.js or Node.js, but some serious PHP hacking could be nice, too.
  p Have a nice day,
  p.closing Adrian Lang
  p.fn Note that this web site is work in progress; there are still quite some descriptions missing, and I am not too happy with the way some things look either. Have fun, anyway.
