!!! 5
html(lang='de')
  head
    meta(charset='utf-8')
    meta(name="viewport",content="width=device-width,initial-scale=1")
    meta(name="description",content="professional profile of a freelance web software engineer specialized in JavaScript and Node.js who works in Berlin.")
    title= longTitle
    link(rel='stylesheet', href='/static/style/style.css')
  body
    header
      h1
        a(href='/',title=tabs.intro.longTitle)
          span.group Hire
          //- Need two times »| « for jade to output a space and a newline since
          //- jade 0.25. Need a space and a newline for Chromium to not consider
          //- the trailing space part of the first span in two-line display
          | 
          | 
          span.group Adrian Heine
      nav.block-band
        ul
          - each cap, id in tabs
            - if (id !== 'intro') {
              - className = 'li' + (id === cur_t ? ' active' : '')
              li
                a(href='/#{id}',title='#{cap.longTitle}',class=className) #{cap.title}
            - }
    #content.content
      block content
    footer
      include footer
    script
        // We only support browsers with history API
        if (history.pushState) {
            window.onload = function () {
                function loadJS(file) {
                    var s = document.createElement('script');
                    s.src = file;
                    s.async = false;
                    document.body.appendChild(s);
                }
                loadJS('/static/js/ender.min.js');
                loadJS('/static/script.js');
            };
        }
