!!! 5
html(lang='de')
  head
    meta(charset='utf-8')
    meta(name="viewport",content="width=device-width,initial-scale=1")
    title= longTitle
    link(rel='stylesheet', href='/static/style/style.css')
  body
    header
      h1
        a(href='/',title=tabs.intro.longTitle)
          span.group Hire
          | 
          span.group Adrian Lang
      nav.block-band
        ul
          - each cap, id in tabs
            - if (id !== 'intro') {
              - className = 'li' + (id === cur_t ? ' active' : '')
              li
                a(href='/#{id}',title='#{cap.longTitle}',class=className) #{cap.title}
            - }
    #content.content
      block content
    footer
      .block-band
        ul
          li.license
            a(href="http://creativecommons.org/licenses/by-sa/3.0/de/",rel="license")
              img(alt="Creative Commons License",src="/static/cc-by-sa-3.0-de-88x31.png",title="Creative Commons Attribution-Share Alike 3.0 Germany License",width='88',height='31')
          li.attribution
            a.li(href="//adrianlang.de/id") © 2012 Adrian Lang
      ul.tech-footer
        li
          ul
            li: a(href="https://developer.mozilla.org",title="Mozilla Developer Network") MDN
            li: a(href="http://validator.w3.org/check/referer",title="HTML5 validation") Valid HTML5
            li: a(href="http://jigsaw.w3.org/css-validator/check/referer",title="CSS validation") Valid CSS3
        li
          ul
            li: a(href="http://nodejs.org",title="Node.js") Node.js platform
            li: a(href="http://www.debian.org",title="Debian") Debian GNU/Linux
            li: a(href="http://www.manitu.de/?partner=016afEkBV%2B3%2FULeeLBBwTnGi0ej3TpkA9BshbqimWZLZA%3D",title="Manitu") Manitu (Partner link)
        li
          ul
            li
              a(href="/static/adrianlang-cv.pdf",title="Download PDF summary") PDF summary
            li
              a.github(href="https://github.com/adrianlang/hire-adrian-lang",title="Hire Adrian Lang on GitHub")
                span.hal HAL
                |&nbsp;on GitHub
            li
              a(href="/static/240freelancer.html",title="240 Minutes Freelancer Manifesto") 240 Minutes Freelancer
        li
          address
            ul
              li: a(href="xmpp:adrian[at]kleinrot[dot]net",title="Talk to me via Jabber: adrian [at] kleinrot [dot] net") Jabber
              li: a(href="mailto:mail[at]adrianlang[dot]de",title="Talk to me via E-mail: mail [at] adrianlang [dot] de") E-mail
              li: a(href="/contact",title="Hire Adrian Lang | Contact") /contact
    script
        // We only support browsers with history API
        if (history.pushState) {
            window.onload = function () {
                function loadJS(file) {
                    var s = document.createElement('script');
                    s.src = file;
                    s.async = false;
                    document.body.appendChild(s);
                }
                loadJS('/static/js/ender.min.js');
                loadJS('/static/script.js');
            };
        }
